@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1667186905561') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-locationfill:before {
  content: "\e650";
}

.icon-contact:before {
  content: "\e603";
}

.icon-gerenzhongxin:before {
  content: "\e619";
}

.icon-home-fill:before {
  content: "\e867";
}

.icon-gerenxinxi:before {
  content: "\e720";
}

.icon-project:before {
  content: "\e60b";
}

.icon-facebook:before {
  content: "\e651";
}

.icon-project1:before {
  content: "\e670";
}

.icon-instagram:before {
  content: "\e737";
}

.icon-phone:before {
  content: "\e683";
}

.icon-envelope:before {
  content: "\e659";
}

.icon-github:before {
  content: "\e728";
}

.icon-jinengliang:before {
  content: "\e693";
}

