* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Consolas;
}

body {
  background: #fdf2f0;
}

body .toggle {
  position: fixed;
  top: 30px;
  right: 50px;
  width: 50px;
  height: 50px;
  background: #bb5a3a url(../IMG/menu.png);
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 1000;
}

body .active {
  background: #bb5a3a url(../IMG/close.png);
  background-size: 25px;
  background-position: center;
  background-repeat: no-repeat;
}

body .banner {
  padding: 100px;
  min-height: 100vh;
  position: relative;
  width: 100%;
}

body .banner .imgSidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 500px;
  height: 100%;
}

body .banner .imgSidebar img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body .banner .logoText {
  position: absolute;
  top: 40px;
  left: 100px;
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: #bb5a3a;
  color: #fdf2f0;
  padding: 0 5px;
}

body .banner h4 {
  font-size: 1.5em;
  color: #333;
  font-weight: 300;
}

body .banner h4 span {
  font-size: 1.5em;
  font-weight: 700;
}

body .banner h2 {
  font-size: 3em;
  color: #bb5a3a;
  line-height: 1em;
}

body .banner p {
  font-size: 1.1em;
  margin: 20px 0;
  font-weight: 300;
}

body .banner .btn {
  background: #bb5a3a;
  color: #fdf2f0;
  padding: 10px 20px;
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 2px;
  border-radius: 20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

body .banner .btn:hover {
  -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

body .contentBox,
body .sidebar {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% - 500px);
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px;
}

body .sidebar {
  position: fixed;
  background: #bb5a3a;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  place-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 40px;
  z-index: 100;
  right: -100%;
}

body .sidebar .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .sidebar .menu li {
  list-style: none;
}

body .sidebar .menu li a {
  color: #fdf2f0;
  text-decoration: none;
  font-size: 2em;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 100px;
}

body .sidebar .menu li a .iconfont {
  font-size: 2rem;
  margin-right: 3rem;
}

body .sidebar .menu li :hover .iconfont,
body .sidebar .menu li :active .iconfont {
  -webkit-animation: jump 0.3s linear 1 forwards normal;
          animation: jump 0.3s linear 1 forwards normal;
  display: inline-block;
}

@-webkit-keyframes jump {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, -0.5em, 0);
            transform: translate3d(0, -0.5em, 0);
  }
}

@keyframes jump {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, -0.5em, 0);
            transform: translate3d(0, -0.5em, 0);
  }
}

body .active1 {
  right: 0;
}
/*# sourceMappingURL=style.css.map */