* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  font-family: CONSOLA;
  .banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    background-color: #bb5a3a;
    background-size: cover;
    display: flex;
    align-items: center;
    transition: 0.5s;
    z-index: 2;
    header {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 40px 100px;
      z-index: 1000;
      transition: 0.6s;
      .logo {
        position: relative;
        font-weight: 700;
        color: #feeadf;
        text-decoration: none;
        font-size: 2em;
        text-transform: uppercase;
        letter-spacing: 3px;
        transition: 0.6s;
      }
      #toggle {
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;
      }
      #toggle::before {
        content: "";
        position: absolute;
        top: 7px;
        width: 100%;
        height: 2px;
        background-color: #feeadf;
      }
      #toggle::after {
        content: "";
        position: absolute;
        bottom: 7px;
        width: 100%;
        height: 2px;
        background-color: #feeadf;
      }
    }
    .img {
      position: absolute;
      left: 50rem;
      top: 10rem;
      img {
        width: 30rem;
      }
    }
    .content {
      max-width: 600px;
      margin-left: 10px;
      h2 {
        color: #feeadf;
        font-size: 2.5em;
        span {
          color: #feeadf;
          font-size: 1.2em;
        }
      }
      p {
        font-size: 1.2em;
        color: #feeadf;
        font-weight: 300;
      }
      a {
        position: relative;
        display: inline-block;
        margin-top: 20px;
        background-color: #feeadf;
        padding: 10px 20px;
        text-decoration: none;
        color: #bb5a3a;
        border-radius: 20px;
        font-weight: 800;
        transition: all 0.3s;
        &:hover {
          box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
          transform: translateY(-5px);
        }
      }
    }
    .sci {
      position: absolute;
      display: flex;
      flex-direction: column;
      right: 100px;
      li {
        list-style: none;
        a {
          position: relative;
          display: grid;
          place-items: center;
          width: 50px;
          height: 50px;
          text-decoration: none;
          border: 1px solid #feeadf;
          margin: 10px;
          transition: all 0.5s;
          .iconfont {
            font-size: 30px;
            color: #feeadf;
          }
          &:hover {
            background-color: #feeadf;
            .iconfont {
              color: #bb5a3a;
            }
          }
        }
      }
    }
  }
  .active header #toggle::before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  .active header #toggle::after {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  .active {
    transform: translateX(-400px);
  }
  #navigation {
    position: fixed;
    top: 0;
    right: -400px;
    width: 400px;
    height: 100vh;
    background-color: #feeadf;
    z-index: 1;
    display: grid;
    place-items: center;
    transition: 0.5s;
    .active {
      right: 0;
    }
    ul {
      position: relative;
      display: flex;
      flex-direction: column;
      li {
        list-style: none;
        a {
          color: #bb5a3a;
          text-decoration: none;
          display: inline-block;
          font-size: 2em;
          font-weight: 600;
          text-transform: uppercase;
          line-height: 100px;
          .iconfont {
            font-size: 2rem;
            margin-right: 3rem;
          }
        }
        :hover,
        :active {
          .iconfont {
            animation: jump 0.3s linear 1 forwards normal;
            display: inline-block;
            @keyframes jump {
              0% {
                transform: translate3d(0, 0, 0);
              }
              100% {
                transform: translate3d(0, -0.5em, 0);
              }
            }
          }
        }
        &:hover {
          animation: none;
        }
      }
    }
  }
}
