* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Consolas;
  scroll-behavior: smooth;
}

* .title {
  width: 100%;
  text-align: center;
}

* .title h2 {
  color: #bb5a3a;
  font-size: 1.8em;
  font-weight: 700;
  letter-spacing: 3px;
  padding-top: 50px;
}

* .title h2::after {
  content: "";
  display: block;
  height: 3px;
  margin: 5px auto 40px;
  width: 50px;
  background: #bb5a3a;
}

.toggle {
  position: fixed;
  top: 30px;
  right: 50px;
  width: 50px;
  height: 50px;
  background: #bb5a3a url(../IMG/menu.png);
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 1000;
}

.toggle.active {
  background: #bb5a3a url(../IMG/close.png);
  background-size: 25px;
  background-position: center;
  background-repeat: no-repeat;
}

.banner {
  padding: 100px;
  min-height: 100vh;
  position: relative;
  width: 100%;
  background: antiquewhite;
}

.banner .imgSidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 650px;
  height: 100%;
}

.banner .imgSidebar img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.banner .logoText {
  position: absolute;
  top: 40px;
  left: 100px;
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: #bb5a3a;
  color: #fdf2f0;
  padding: 0 5px;
}

.banner h4 {
  font-size: 1.5em;
  color: #333;
  font-weight: 300;
}

.banner h4 span {
  font-size: 1.5em;
  font-weight: 700;
}

.banner h2 {
  font-size: 3em;
  color: #bb5a3a;
  line-height: 1em;
}

.banner p {
  font-size: 1.1em;
  margin: 20px 0;
  font-weight: 300;
}

.banner .btn {
  background: #bb5a3a;
  color: #fdf2f0;
  padding: 10px 20px;
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 2px;
  border-radius: 20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.banner .btn:hover {
  -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.banner .sci {
  position: absolute;
  left: 100px;
  bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner .sci li {
  list-style: none;
  margin-right: 15px;
}

.banner .sci li a {
  text-decoration: none;
  color: #bb5a3a;
}

.banner .sci li a .iconfont {
  font-size: 35px;
  opacity: 0.7;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.banner .sci li a .iconfont:hover {
  opacity: 1;
}

.about {
  min-height: 100vh;
}

.about p {
  max-width: 700px;
  display: inline-block;
  margin-bottom: 40px;
}

.about .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .content .textBox {
  min-width: 49%;
  width: 49%;
}

.about .content .textBox p {
  color: #333;
}

.about .content .imgBox {
  margin-left: 40px;
}

.about .content .imgBox img {
  max-width: 100%;
}

.skills {
  min-height: 100vh;
  background: antiquewhite;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 40px;
  height: 80vh;
}

.skills .container .card {
  width: 220px;
  height: 250px;
  background-color: #bb5a3a;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills .container .card.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.skills .container .card .percent {
  position: relative;
  width: 150px;
  height: 150px;
}

.skills .container .card .percent .dot {
  position: absolute;
  inset: 5px;
  z-index: 10;
  -webkit-transform: rotate(calc(3.6deg * var(--num)));
          transform: rotate(calc(3.6deg * var(--num)));
  -webkit-animation: animateDot 2s linear forwards;
          animation: animateDot 2s linear forwards;
}

@-webkit-keyframes animateDot {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(calc(3.6deg * var(--num)));
            transform: rotate(calc(3.6deg * var(--num)));
  }
}

@keyframes animateDot {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(calc(3.6deg * var(--num)));
            transform: rotate(calc(3.6deg * var(--num)));
  }
}

.skills .container .card .percent ::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 10px;
  height: 10px;
  background: var(--clr);
  border-radius: 50%;
  -webkit-box-shadow: 0 0 10px var(--clr), 0 0 30px var(--clr);
          box-shadow: 0 0 10px var(--clr), 0 0 30px var(--clr);
}

.skills .container .card .percent svg {
  position: relative;
  width: 150px;
  height: 150px;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.skills .container .card .percent svg circle {
  width: 100%;
  height: 100%;
  fill: transparent;
  stroke-width: 3;
  stroke: #333;
  -webkit-transform: translate(5px, 5px);
          transform: translate(5px, 5px);
}

.skills .container .card .percent svg :nth-child(2) {
  stroke: var(--clr);
  stroke-dasharray: 440;
  stroke-dashoffset: calc(440 - (440 * var(--num)) / 100);
  opacity: 0;
  -webkit-animation: fadeIn 1s linear forwards;
          animation: fadeIn 1s linear forwards;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.skills .container .card .number {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
  -webkit-animation: fadeIn 1s linear forwards;
          animation: fadeIn 1s linear forwards;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.skills .container .card .number h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: antiquewhite;
  font-weight: 700;
  font-size: 2.5em;
}

.skills .container .card .number h2 span {
  font-weight: 300;
  color: antiquewhite;
  font-size: 0.5em;
}

.skills .container .card .number p {
  font-weight: 300;
  font-size: 0.75em;
  line-height: 2px;
  letter-spacing: 3px;
  margin-top: 10px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.75);
}

.project {
  min-height: 100vh;
  padding: 0 100px;
}

.project .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.project .content .projectBox {
  position: relative;
  width: 450px;
  height: 325px;
  margin: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-align: center;
}

.project .content .projectBox .imgBox,
.project .content .projectBox .textBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project .content .projectBox .imgBox img,
.project .content .projectBox .textBox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.project .content .projectBox .textBox {
  background: #333;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.project .content .projectBox .textBox:hover {
  opacity: 1;
}

.project .content .projectBox .textBox h3 {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1em;
}

.contact {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #bb5a3a;
}

.contact::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: antiquewhite;
}

.contact .container {
  position: relative;
  min-width: 1100px;
  min-height: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 100;
}

.contact .container .contactinfo {
  position: absolute;
  top: 40px;
  width: 350px;
  height: calc(100% - 80px);
  background: #bb5a3a;
  z-index: 1;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0 30px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 30px 20px rgba(0, 0, 0, 0.2);
}

.contact .container .contactinfo h2 {
  color: #fdf2f0;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 30px;
}

.contact .container .contactinfo .info {
  position: relative;
  margin: 20px 0;
}

.contact .container .contactinfo .info li {
  position: relative;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0;
  cursor: pointer;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.contact .container .contactinfo .info li span:nth-child(1) {
  width: 30px;
  min-width: 30px;
}

.contact .container .contactinfo .info li span:nth-child(1) .iconfont {
  max-width: 100%;
  font-size: 25px;
  color: #fdf2f0;
  opacity: 0.5;
}

.contact .container .contactinfo .info li span:nth-child(2) {
  color: #fdf2f0;
  margin-left: 10px;
  font-weight: 300;
  opacity: 0.8;
  font-size: 20px;
}

.contact .container .contactinfo .info li:hover span:nth-child(1) .iconfont,
.contact .container .contactinfo .info li:hover span:nth-child(2) {
  opacity: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.contact .container .contactinfo .sci {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact .container .contactinfo .sci li {
  list-style: none;
  margin-right: 15px;
}

.contact .container .contactinfo .sci li a {
  text-decoration: none;
}

.contact .container .contactinfo .sci li a .iconfont {
  color: #fdf2f0;
  opacity: 0.5;
  font-size: 30px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.contact .container .contactinfo .sci li a .iconfont:hover {
  opacity: 1;
}

.contact .contactForm {
  position: absolute;
  padding: 70px 50px;
  background: #fdf2f0;
  margin-left: 150px;
  padding-left: 250px;
  width: calc(100% - 150px);
  height: 100%;
  -webkit-box-shadow: 0 50px 50px rgba(0, 0, 0, 0.5);
          box-shadow: 0 50px 50px rgba(0, 0, 0, 0.5);
}

.contact .contactForm h2 {
  color: #bb5a3a;
  font-size: 24px;
  font-weight: 800;
}

.contact .contactForm .formBox {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 30px;
}

.contact .contactForm .formBox .inputBox {
  position: relative;
  margin: 0 0 35px 0;
}

.contact .contactForm .formBox .inputBox input,
.contact .contactForm .formBox .inputBox textarea {
  width: 100% !important;
  padding: 5px 0;
  font-size: 18px;
  font-weight: 300;
  background: #fdf2f0;
  color: #333;
  border: none;
  border-bottom: 1px solid #777;
  outline: none;
  resize: none;
}

.contact .contactForm .formBox .inputBox textarea {
  min-height: 90px;
}

.contact .contactForm .formBox .inputBox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 18px;
  font-weight: 300;
  color: #333;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  pointer-events: none;
}

.contact .contactForm .formBox .inputBox input[type="submit"] {
  position: relative;
  cursor: pointer;
  background: #bb5a3a;
  color: #fdf2f0;
  border: none;
  max-width: 150px;
  padding: 12px;
  opacity: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.contact .contactForm .formBox .inputBox input[type="submit"]:hover {
  opacity: 0.8;
}

.contact .contactForm .formBox input:focus ~ span,
.contact .contactForm .formBox textarea:focus ~ span,
.contact .contactForm .formBox input:valid ~ span,
.contact .contactForm .formBox textarea:valid ~ span {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 1px;
  color: #bb5a3a;
}

.contact .contactForm .formBox .w50 {
  width: 47%;
}

.contact .contactForm .formBox .w100 {
  width: 100%;
}

.contentBox,
.sidebar {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% - 650px);
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px;
}

.sidebar {
  position: fixed;
  background: #bb5a3a;
  display: -ms-grid;
  display: grid;
  width: 450px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  place-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 40px;
  z-index: 200;
  right: -100%;
}

.sidebar.active {
  right: 0;
}

.sidebar .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sidebar .menu li {
  list-style: none;
}

.sidebar .menu li a {
  color: #fdf2f0;
  text-decoration: none;
  font-size: 2em;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 100px;
}

.sidebar .menu li a .iconfont {
  font-size: 2rem;
  margin-right: 3rem;
}

.sidebar .menu li :hover .iconfont,
.sidebar .menu li :active .iconfont {
  -webkit-animation: jump 0.3s linear 1 forwards normal;
          animation: jump 0.3s linear 1 forwards normal;
  display: inline-block;
}

@-webkit-keyframes jump {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, -0.5em, 0);
            transform: translate3d(0, -0.5em, 0);
  }
}

@keyframes jump {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, -0.5em, 0);
            transform: translate3d(0, -0.5em, 0);
  }
}
/*# sourceMappingURL=style.css.map */