* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  font-family: CONSOLA;
  .banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    background-color: #bb5a3a;
    background-size: cover;
    display: flex;
    align-items: center;
    transition: 0.5s;
    z-index: 2;
    header {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 40px 100px;
      z-index: 1000;
      transition: 0.6s;
      .logo {
        position: relative;
        font-weight: 700;
        color: #feeadf;
        text-decoration: none;
        font-size: 2em;
        text-transform: uppercase;
        letter-spacing: 3px;
        transition: 0.6s;
      }
      #toggle {
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;
      }
      #toggle::before {
        content: "";
        position: absolute;
        top: 7px;
        width: 100%;
        height: 2px;
        background-color: #feeadf;
      }
      #toggle::after {
        content: "";
        position: absolute;
        bottom: 7px;
        width: 100%;
        height: 2px;
        background-color: #feeadf;
      }
    }
    .img {
      position: absolute;
      left: 50rem;
      top: 10rem;
      img {
        width: 30rem;
      }
    }
    .content {
      max-width: 600px;
      margin-left: 10px;
      h2 {
        color: #feeadf;
        font-size: 2.5em;
        span {
          color: #feeadf;
          font-size: 1.2em;
        }
      }
      p {
        font-size: 1.2em;
        color: #feeadf;
        font-weight: 300;
      }
      a {
        position: relative;
        display: inline-block;
        margin-top: 20px;
        background-color: #feeadf;
        padding: 10px 20px;
        text-decoration: none;
        color: #bb5a3a;
        border-radius: 20px;
        font-weight: 800;
        transition: all 0.3s;
        &:hover {
          box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
          transform: translateY(-5px);
        }
      }
    }
  }
}
